@{
    ViewData["Title"] = "Home Page";
} 
<h1>Call Stored Procedures</h1>
<a asp-action="GetAll" class="btn btn-primary">Get All</a>
<a asp-action="GetAProduct" class="btn btn-primary">Get A Product</a>
<a asp-action="CountAll" class="btn btn-primary">Count All Products</a>
<a asp-action="UpdateListPrice" class="btn btn-primary">Update List Price</a>
<a asp-action="MultipleResultSets" class="btn btn-primary"> Multiple Result Sets</a>

<br>
<a href="https://www.codemag.com/Article/2101031/Calling-Stored-Procedures-with-the-Entity-Framework-in-.NET-5">Reference</a>